:root{
    --white-color: oklch(100% 0 0);
    --pink-color: oklch(58.29% 0.3106 311.25);
    --light-pink-color: oklch(96.18% 0.0276 311.70800875992836);
    --pale-purple-color: oklch(30% 0.1508 328);
    --dark-purple-color: oklch(24.99% 0.1281 322.31);
    --dark-purple-shadow-color: oklch(24.99% 0.1281 322.31 / 0.1);
}